@model NopBrasil.Plugin.Widgets.Blog.Models.PublicInfoModel

@if (Model.BlogItems.Count > 0)
{
    <div class="news-list-homepage">
        <div class="title">
            <strong>@T("Blog")</strong>
        </div>
        <div class="news-items">
            @foreach (var item in Model.BlogItems)
                {
                <div class="news-item">
                    <div class="news-head">
                        <a class="news-title" href="@Url.RouteUrl("BlogPost", new { SeName = item.SeName })">@item.Title</a>
                        <span class="news-date">-@item.CreatedOn.ToString("D")</span>
                    </div>
                    <div class="news-body">
                        @Html.Raw(item.Short)
                    </div>
                    <div class="buttons">
                        <a href="@Url.RouteUrl("BlogPost", new { SeName = item.SeName })" class="read-more">@T("Blog.MoreInfo")</a>
                    </div>
                </div>
            }
        </div>
        <div class="view-all">
            <a href="@Url.RouteUrl("Blog")">@T("Blog")</a>
        </div>
    </div>    
}